<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    <meta name="title" content="George Woods Sr. Cloud Solution Architect">
    <meta name="description" content="George Woods, an expert in data engineering and data warehousing techniques and technologies.">
    <meta name="keywords" content="cloud, data, data warehouse, databricks, microsoft, python, power bi, synapse, business intelligence, data engineer">
    <meta name="robots" content="index,follow">
    <meta name="language" content="English">
    <meta name="author" content="George Woods">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="George Woods Sr. Cloud Solution Architect" />
    <meta property="og:description" content="George Woods, an expert in data engineering and data warehousing techniques and technologies." />
    <meta property="og:url" content="https://www.georgewoods.me/" />
    <meta property="og:site_name" content="George Woods" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="George Woods, an expert in data engineering and data warehousing techniques and technologies." />
    <meta name="twitter:title" content="George Woods" />
    <meta name="twitter:site" content="@gvwoods" />
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>George Woods Sr. Cloud Solution Architect</title>
  </head>

  <body>
      <img src="/images/LogoGW.svg" alt="logo" width="400px" height="220px" />
     <div class="topnav">
        <p class="link"> 
          <a href="https://georgewoods.me/">Home</a>
          <a href="https://github.com/gvwoods/" target="_blank" rel="noopener noreferrer">GitHub</a> 
         <a href="https://www.linkedin.com/in/gvwoods/" target="_blank" rel="noopener noreferrer">LinkedIn</a> 
           <a href="https://sessionize.com/George-Woods/" target="_blank" rel="noopener noreferrer">Sessionize</a>
          <a href="https://www.youtube.com/user/gvwoods/" target="_blank" rel="noopener noreferrer">YouTube</a> 
       <a href="https://georgewoods.me/blog">Blog</a> </p>
       </div>
    <header>
      <div class="inner">
              </div>                                                             
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>
        
      </div>
    </div>
     <div class="footer ">
       <footer>
         <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
         <p>© 2023 George Woods. All Rights Reserved. </p>
         <p>Disclaimer: All posts and information on this website are my opinions, not my employers.</p>
       </footer></div>
  </body>
</html>
